<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="dbPool"
          class="com.eugeneze.study.dao.DBPool">
        <property name="user" value="user"/>
        <property name="url" value="someUrl"/>
        <property name="password" value="password"/>
    </bean>

    <bean id="countryRepository"
            class="com.eugeneze.study.dao.CountryRepository">
        <property name="connectionPool" ref="dbPool"/>
    </bean>

    <bean id="countryConverter"
          class="com.eugeneze.study.converters.CountryConverter">
    </bean>

    <bean id="controllerCountry"
          class="com.eugeneze.study.server.ControllerCountry">
        <property name="repository" ref="countryRepository"/>
        <property name="converter" ref="countryConverter"/>
    </bean>

</beans>