<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/geography</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">lamborgini235</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.eugeneze.models.Country"></mapping>
        <mapping class="com.eugeneze.models.City"></mapping>
        <mapping class="com.eugeneze.models.Continent"></mapping>
        <mapping class="com.eugeneze.models.Currency"></mapping>
        <mapping class="com.eugeneze.models.HeadOfState"></mapping>
        <mapping class="com.eugeneze.models.Language"></mapping>
        <mapping class="com.eugeneze.models.Mountain"></mapping>
        <mapping class="com.eugeneze.models.Ocean"></mapping>
        <mapping class="com.eugeneze.models.Sea"></mapping>
        <mapping class="com.eugeneze.models.Sight"></mapping>
    </session-factory>
</hibernate-configuration>